.app-header {
  color: #333;
  text-align: center;
  padding: 20px 0 16px;
}

.app-header__title {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.app-header__subtitle {
  font-weight: normal;
  font-size: 0.9em;
  color: #999;
}

.app-body {
  text-align: center;
  padding-bottom: 100px;
}

.app-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.button {
  text-align: center;
  margin: 5px auto;
}

.button button {
  display: inline-block;
  text-decoration: none;
  background: none;
  border: 0 none;
  width: 100%;
  padding: 14px 0;
  outline: none;
}

.button--ok button { color: #6CC371; }
.button--warn button { color: #FFA541; }
.button--critical button { color: #ff4141; }

.button--solid { margin: 0; }
.button--solid button {
  background: #dddddd;
  color: #666;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.button--solid button span {
  color: #999;
  font-style: italic;
  float: right;
}

.system {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  box-sizing: border-box;
}

.system--error {
  background-color: #ff9494;
  color: white;
}

.system--warn {
  background-color: #ffe5be;
}

.footer {
  height: 80px;
}

.footer__fixer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__fixer .button {
  padding: 16px;
  display: block;
  background-color: #dddddd;
  color: #666666;
  text-decoration: none;
}

.reservations {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 0 auto 1em;
}

.reservation {
  width: 46%;
  text-align: center;
  position: relative;
  background: #fafafa;
  margin: 2%;
  transition: all 0.5s;
}

.reservation--disabled {
  color: #ece4dc;
  background-color: #fffdf7;
}

.reservation:before {
  content: '';
  padding-bottom: 100%;
  width: 100%;
  display: block;
}

.reservation__details {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservation__number {
  font-size: 30px;
  padding: 20px 0;
}

.reservation__pending {
  position: absolute;
  top: 0;
  right: 0;
  background: orange;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: white;
}

.form-signin {
  width: 80%;
  margin: 0 auto;
}

.form-signin input {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 5px 0;
  box-shadow: none;
  outline: none;
  appearance: none;
  border-radius: 0;
}

.form-signin button {
  background-color: #ddd;
  display: inline-block;
  border: 0 none;
  width: 100%;
  margin: 5px 0;
  height: 40px;
  line-height: 40px;
}
.form-signin button:disabled {
  color: #ffffff;
  background-color: #eeeeee;
}

.confirm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.confirm button {
  display:inline-block;
  margin: 0 5px;
}

.form-rename {
  width: 80%;
  margin: 0 auto 20px;
}

.form-rename input {
  width: 100%;
  padding: 8px 20px;
  text-align: center;
  font-weight: bold;
}

.sellables {
  width: 90%;
  margin: 0 auto;
}

.sellable {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.sellable div:first-child {
  flex: 1 auto;
  text-align: left;
}

.input-count {
  display: block;
  position: relative;
}
.input-count i {
  background: #999;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  font-style: normal;
  color: white;
}
.input-count__control {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
}
.sales {
  margin-bottom: 1em;
}
.sale {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.details {
  width: 90%;
  margin: 0 auto 20px;
  box-sizing: border-box;
}
.sale__detail {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 6px 0;
}
.sale__detail span {
  font-size: 0.8em;
  display: block;
  color: #999;
  margin-bottom: 3px;
}
.sale__detail input {
  display: block;
  width: 100%;
  border: 0 none;
  padding: 10px 0;
}
.sale__detail select {
  width: 100%;
  appearance: none;
  border: 0 none;
  background: transparent;
  outline: none;
}
.sale__summary {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
  position: relative;
  user-select: none;
}
.sale__summary small {
  color: #aaa;
  font-style: italic;
}
.sale__summary .pending {
  color: #FFA541;
}
.sale__summary--label {
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.7em;
}
.sale__summary > div:nth-child(1) {
  flex-basis: 65%;
  text-align: left;
}
.sale__summary > div:nth-child(2) {
  flex-basis: 15%;
}
.sale__summary > div:nth-child(3) {
  flex-basis: 20%;
}
.arrow {
  position: absolute;
  color: #333;
  font-family: Arial sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.85em 0;
  right: 0;
  top: 0;
}
.arrow:before, .arrow:after {
  content:"";
  background: #ccc;
  border-radius: 0.2em;
  display: block;
  height: 0.5em;
  position: absolute;
  right: 0;
  width: 0.1em;
}
.arrow.left:after, .arrow.left:before {
  transform: rotate(45deg);
}
.arrow.left:after {
    bottom: 0.66em;
    transform: rotate(-45deg);
}
