
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #666666;
}

input {
  box-sizing: border-box;
  outline: none;
}

.icon--left:before {
  content: "\2039";
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: 3px;
  line-height: 0;
}
